<a href="https://colab.research.google.com/github/Sherin1998/Uber-fares/blob/main/uber_fares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/movie recommend/uber.csv')
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [ ]:
df.shape

(200000, 9)

In [1]:

#From analysis Ive found,current time and month can improve accuracy.So Ive extracted those parameters

In [ ]:
df.isnull().sum()
df.drop(columns='Unnamed: 0',inplace=True)

In [ ]:
df=df.dropna()

In [ ]:
imputer = KNNImputer(n_neighbors=4, weights="uniform")
imputer.fit_transform(df.drop(columns='key'))

In [ ]:
df.drop_duplicates(inplace=True)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [ ]:
df=df[df['fare_amount']>=0]

In [ ]:
df['pickup_datetime']=df['pickup_datetime'].apply(lambda x:[x[0:10] for x in x.split(' ')])

In [ ]:
df['pickup_datetime']=df['pickup_datetime'].apply(lambda x:x[0])

In [ ]:
df['year'] = pd.DatetimeIndex(df['pickup_datetime']).year

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))
mpl.rcParams['agg.path.chunksize'] = 10000
ax.plot(df['year'],df['fare_amount'])
plt.plot()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
temp_df=df.groupby('year')['fare_amount'].sum().to_frame()
temp_df

In [ ]:
plt.plot(temp_df)
plt.title('Year Wise Total Fares')
 #There has been tremendous decline in fares over the years

In [ ]:
import seaborn as sns
plt.subplots(figsize=(8, 6))

sns.heatmap(df.corr(),annot=True)
plt.show()

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
#from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeRegressor
#from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [ ]:
df.drop(columns=['key','pickup_datetime'],inplace=True)

In [ ]:
X=df.drop(['fare_amount'],axis=1)
y=df['fare_amount']
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [ ]:
rnf=RandomForestRegressor()
rnf.fit(x_train,y_train)

RandomForestRegressor()

In [ ]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
df.head()

In [ ]:
svr = SVR(kernel='rbf', gamma=1.0)
#knc = KNeighborsRegre()
#mnb = MultinomialNB()
dtc = DecisionTreeRegressor(max_depth=5)

rfc = RandomForestRegressor(n_estimators=50, random_state=2)
abc = AdaBoostRegressor(n_estimators=50, random_state=2)
bc = BaggingRegressor(n_estimators=50, random_state=2)
etc = ExtraTreesRegressor(n_estimators=50, random_state=2)
gbdt = GradientBoostingRegressor(n_estimators=50,random_state=2)
xgb = XGBRegressor(n_estimators=50,random_state=2)

In [ ]:
clf = {
    'SVC' : svr,
    'DT': dtc, 
    'RF': rfc, 
    'AdaBoost': abc, 
    'BgC': bc, 
    'ETC': etc,
    'GBDT':gbdt,
    'xgb':xgb
}

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

def train_classifier(clf,X_train,y_train,X_test,y_test):
    clf.fit(X_train,y_train)
    y_pred = clf.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    mean_ab_error = mean_absolute_error(y_test,y_pred)
    mse=mean_squared_error(y_test,y_pred)

    return r2,mean_ab_error,mse

In [ ]:
train_classifier(svr,x_train,y_train,x_test,y_test)

In [ ]:
r2 = []
mean_ab_error=[]
mse = []

for name,clf in clf.items():
    
    current_r2,current_mae,current_mse = train_classifier(clf, x_train,y_train,x_test,y_test)
    
    print("For ",name)
    print("Accuracy - ",current_mae)
    print("Precision - ",current_mse)
    
    r2.append(current_r2)
    mean_ab_error.append(current_mae)
    mse.append(current_mse)